@model IEnumerable<MoneyIdroid.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transaction";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "/Transaction/AddOrEdit/";
}

<div class="row">
    <div class="col-md-7">

        <ejs-grid id="Transactions" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Date" field="Date" width="110px"
                type="date" format="MMM-dd-yy" textalign=Left></e-grid-column>
                <e-grid-column headerText="Amount" field="FormattedAmount" width="110px" textalign="Right"></e-grid-column>
                <e-grid-column headerText="Action" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>

        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-money-bill-transfer fa-2xl "></i>
        </div>
</div>


</div>
<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row-0 justify-content-start">
         <a class="btn btn-sm no-a-decoration" href="/Transaction/AddOrEdit/${TransactionId}">
             <i class="fa-solid fa-pen fa-lg"></i>
         </a>
         <form action="/Transaction/Delete/${TransactionId}" method="post">
    @Html.AntiForgeryToken()
             <button type="submit" class="btn btn-sm btn-link no-a-decoration "
             onclick="return confirm(&quot;Are you sure to delete this record?&quot; )">
                 <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
             </button>
         </form>

    </div>

</script>
